* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  background: rgba(7, 6, 6, 0.767);
  display: flex;
  flex-direction: column;
}


header {
  padding: 10px;
  font-size: 20px;
}

.num-container {
  display: flex;
  width: 100%;
}

.calc-container {
  width: 400px;
  height: 600px;;
  text-align: center;
  margin: 0 auto;
  border: white 3px lightgray;
}

.button-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.numpad {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  margin-right: 4px;
  margin-left: 4px;
  flex-grow: 3;
}

.display {
  color: white;
  padding: 30px 60px;
  background: black;
  margin-left: 6px;
  border: lightslategray 2px solid;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}

.numpad .number {
  padding: 25px;
  width: 100%;
  height: 100%;

}



.operators {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  margin-left: 8px;
}

.operators .sign {
  padding: 12px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  overflow: hidden;

}



header {
  color: white;
}