@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

p {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
body {
font-family: 'Bungee', cursive;
}

.case {
  border: 6px solid black;
  padding: 10px;
  border-radius: 8px;
  background: rgb(94, 83, 83);
}

.container {
  background: rgba(7, 6, 6, 0.767);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}


header {
  /* padding: 10px; */
  font-size: 16px;
}

.num-container {
  display: flex;
  width: 100%;
}

.calc-container {
  width: 400px;
  height: 600px;;
  text-align: center;
  margin: 0 auto;
  border: white 3px lightgray;
}

.button-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.numpad {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  margin-right: 4px;
  margin-left: 4px;
  flex-grow: 3;
}

.display {
  color: white;
  padding: 30px 60px;
  background: black;
  margin-left: 6px;
  border: lightslategray 2px solid;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
}
button {
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
  transition: all .1s ease-in;
}

button:hover {
  transform: scale(1.1);
  background: rgb(160, 154, 154) !important;
  color: white !important;
  box-shadow: 4px 4px 6px black !important;
}
.numpad .number {
  padding: 25px;
  width: 100%;
  height: 100%;
  background: lightgray;
  border-left: 2px darkgray solid;
  border-bottom: 4px rgb(68, 65, 65) solid;
  box-shadow: 2px 2px 4px #36333371;
  font-size: 1.5rem;
}

.operators {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  margin-left: 8px;
  width: 30%;
}

.numpad .div {
  background: rgb(51, 48, 48);
  color: #f4f4f4;
}
.operators .sign {
  padding: 12px;
  text-align: center;
  font-size: 26px;
  width: 100%;
  overflow: hidden;
  background: darkgray;
}

.enter {
  font-size: 4rem !important;
}

header {
  color: white;
}